**/.DS_Store
**/__pycache__

# Ignore all folders except a few
/*/
!src/
!server_analysis/

# Ignore all .txt files except requirements.txt.
*.txt
!requirements.txt

# Ignore all .py files in the root directory except demo.py and analysis.py.
/*.py
!demo.py
!analysis.py

*.png
*.jpg
*.jpeg
*.svg
*.csv
*.mat
*.pkl